/* ==========VALORES========== */
.nosotros {
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 0;

	&__h2 {
		font-size: 2.375rem;
		color: var(--azul-2);
		margin-bottom: 2rem;
	}

	&__img {
		width: 50%;
	}

	&__buttons {
		width: 320px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;

		.active {
			background-color: var(--azul-2);
			color: #ffffff;
		}
	}

	&__button {
		padding: 0.8rem 1rem;
		background-color: #bbcbdd;
		border-radius: 5rem;
		margin: 0.3rem;
		color: #002b4c;
		transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

		&:hover {
			background-color: var(--azul-2);
			color: #ffffff;
			transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
			cursor: pointer;
		}
	}

	&__h3 {
		color: #4e4e4e;
		margin-bottom: 0;
	}

	&__p {
		display: flex;
		align-items: center;
		text-align: center;
	}

	&__cards {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 2.5em;

		@media (max-width: 816px) {
			& {
				justify-content: center;
			}
		}
	}
	&__card {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 19em;
		padding: 2em;
		margin: 1.5em 0.3em;
		background-color: var(--hueso);
		border-radius: 0.7em;
		box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.55);
		transition: transform 0.5s ease;

		&:hover {
			transform: scale(1.02);
		}
	}
	&__icons {
		display: flex;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
	}
	&__ul {
		display: flex;
		flex-wrap: nowrap;
		justify-content: space-around;
		align-items: center;
		margin-bottom: 1em;
	}
	&__li {
		margin: 0 1em;
	}
	&__i {
		padding: 0.1em 0.3em;
		border: solid #dadada 3px;
		border-radius: 0.2em;
		color: var(--azul-1);
	}
	&__logo-card {
		display: flex;
		justify-content: center;
	}
	&__h3 {
		font-size: 1.8rem;
		color: var(--azul-1);
		margin: 1em 0;
	}
	&__p {
		text-align: justify;
		color: var(--gris);
	}
}

/* ==========INFORMACIÓN========== */
.important {
	background-color: var(--azul-2);
	min-height: 76.5vh;
	@media (max-width: 768px) {
		& {
			min-height: fit-content;
		}
	}
}

.information {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding-top: 2em;

	@media (max-width: 425px) {
		& {
			flex-direction: column;
		}
	}

	.information__text {
		width: 50%;
		display: flex;
		flex-direction: column;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;
		padding: 2em 1.5em;

		@media (max-width: 425px) {
			& {
				width: 100%;
			}
		}
	}
	.information__h2 {
		font-size: 2.375rem;
		margin-bottom: 1.5em;
		color: var(--hueso);
		line-height: 1em;
	}
	.information__p {
		text-align: justify;
		color: var(--hueso);
	}
	.information__graphic {
		width: 50%;

		@media (max-width: 425px) {
			& {
				display: none;
			}
		}
	}
}

/* ==========INFORME ANUAL========== */
.informe-anual {
	min-height: 80vh;
	display: flex;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;

	&__h2 {
		font-size: 2.375rem;
		margin-bottom: 1.5em;
		display: flex;
		justify-content: center;
		color: var(--azul-2);
	}
	&__graphics {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-top: 2.5em;

		@media (max-width: 768px) {
			& {
				justify-content: center;
			}
		}
	}
	&__graphic {
		width: 19em;
		padding: 2em;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	&__counter {
		border-radius: 50%;
		&__circulo-ext {
			width: 200px;
			height: 200px;
			border-radius: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--azul-2);
		}
		&__circulo-int {
			width: 140px;
			height: 140px;
			border-radius: 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: var(--hueso);
		}
		&__count {
			font-size: 4rem;
			font-weight: 900;
			color: var(--azul-2);
		}

		@keyframes showCounter {
			0% {
				opacity: 0;
				transform: translateY(100%);
			}
			100% {
				opacity: 1;
				transform: translateY(0);
			}
		}

		.ocultar {
			opacity: 0;
		}
		.animar {
			animation: showCounter 1.3s;
		}
	}
	&__title {
		margin-top: 1em;
		color: var(--azul-2);
		font-size: 1.5rem;
		font-weight: 400;
	}
}
