
# Activamos la reescritura de url's, por ejemplo: www.unicauca.edu.co/ieee-web-page/organizacion
RewriteEngine On

# Si las siguientes condiciones son ciertas, entonces reescribe la URL
# Si el nombre del fichero solicitado no es un directorio
RewriteCond %{REQUEST_FILENAME} !-d

# Y además, si el nombre del fichero solicitado no es un archivo que 
# ya exista (podría existir a nivel de servidor lo que estés buscando por la URL)
RewriteCond %{REQUEST_FILENAME} !-f

# Y el fichero solicitado no es un enlace simbólico 
# ¿Qué es un enlace simbólico? https://es.wikipedia.org/wiki/Enlace_simb%C3%B3lico
RewriteCond %{REQUEST_FILENAME} !-l

# luego reescriba la URL de la siguiente manera: 
# Tome el nombre de archivo completo de la solicitud y proporciónelo como el valor de un 
# Parámetro de consulta "url" a index.php. Agregue cualquier cadena de consulta de 
# la URL original como parámetros de consulta adicionales (QSA), y detener 
# procesando este archivo .htaccess (L).
RewriteRule ^(.+)$ index.php [QSA,L]