@import "./app.scss";

/* ----------Camino de Eventos---------- */

.roadmap{
    min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 1em 0;

    &__h2{
        font-size: 2rem;
		color: var(--azul-2);
		margin-bottom: 3rem;

        @media (min-width: 768px) {
            font-size: 2.5rem;
        }

        @media (min-width: 1024px){            
            font-size: 3rem;
        }

        @media (min-width: 1440px) {
            font-size: 3.5rem;
        }
    }

    &__img{
        width: 60%;
        height: auto;
        margin-bottom: 2rem;

        @media (min-width: 426px) {
            display: none;
        }
    }
    &__buttons{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 2rem;

        @media (min-width: 768px) {
            display: none;
        }
    }
    &__button{
        padding: .5em .8em;
        background-color: rgba($color: #123f72, $alpha: .3);
        color: var(--azul-2);
        margin: .4em .1em;
        border-radius: 20px;
        font-size: .9rem;
        font-weight: 500;
        cursor: pointer;

        &:hover{
            background-color: var(--azul-2);
            color: var(--blanco);
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__h3{
        font-size: 1.125rem;
        font-weight: bold;
        color: var(--gris-t);
        margin-bottom: .5rem;

        @media (min-width: 768px) {
            position: absolute;
            top: 10%;
            left: 0;
            font-size: 1.5rem;
            color: #4e4e4e;
            letter-spacing: 0.05em;
        }

        @media (min-width: 1024px){            
            font-size: 1.75rem;
        }

        @media (min-width: 1440px) {
            font-size: 2.5rem;
        }
        @media (min-width: 2560px){
            font-size: 3.5rem;
        }
    }

    &__h4{
        font-weight: 500;

        @media (min-width: 768px) {
            position: absolute;
            top: 16%;
            left: 0;
            font-size: 1.125rem;
            color: #4e4e4e;
            letter-spacing: 0.05em;
            text-transform: uppercase;
        }

        @media (min-width: 1024px){
            font-size: 1.5rem;
        }

        @media (min-width: 2560px){
            font-size: 3rem;
        }
    }
    
    &__p{
        margin: 1em 0;
        line-height: 1.2em;
        color: #4e4e4e;

        @media (min-width: 768px) {
            position: absolute;
            top: 20%;
            left: 0;
            width: 50%;
        }

        @media (min-width: 1024px){
            font-size: 1.25rem;
        }

        @media (min-width: 1440px){
            font-size: 1.5rem;
        }

        @media (min-width: 2560px){
            font-size: 2.5rem;
        }
    }

    &__persona{
        width: 100%;
        height: 300px;
        background-image: url('../img/juntaDirectiva/presidente.jpg');
        background-clip: content-box;
        background-size: cover;
        border-radius: 20px;
        box-shadow: 0 3px 10px var(--gris);

        @media (min-width: 375px) {
            width: 80%;
        }

        @media (min-width: 425px) {
            width: 300px;
            height: 400px;
        }

        @media (min-width: 768px) {
            display: none;
        }
    }

    &__cards{
        position: absolute;
        bottom: 10%;
        right: 0;
        display: flex;
        justify-content: flex-start;
        align-items: flex-end;

        @media (max-width: 767px) {
            display: none;
        }
    }

    &__card{
        margin: 0 10px;

        @media (min-width: 2560px){
            margin: 0 30px;
        }

        &:last-child{
            margin-right: 0;
        }
    }

    &__card-image{
        width: 90px;
        height: 90px;
        border-radius: 20px;
        cursor: pointer;
        transition: 0.5s all ease;

        @media (min-width: 1024px){
            width: 120px;
            height: 120px;
        }

        @media (min-width: 1440px){
            width: 150px;
            height: 150px;
        }

        @media (min-width: 2560px){
            width: 18rem;
            height: 18rem;
        }

        @media (min-width: 2560px){
            border-radius: 40px;
        }
    }

    &__active-button{
        background-color: var(--azul-2);
        color: var(--blanco);
    }

    .disabled-button{
        background-color: rgba($color: #818181, $alpha: .3);
        color: var(--blanco);
        cursor: not-allowed;
    }

    &__active-card{
        width: 140px;
        height: 160px;

        @media (min-width: 1024px){
            width: 180px;
            height: 200px;
        }

        @media (min-width: 1440px){
            width: 200px;
            height: 250px;
        }

        @media (min-width: 2560px){
            width: 22rem;
            height: 30rem;
        }
    }

    .disabled-card{
        cursor: not-allowed;
    }
}

.tarjetas{
    width: 394px;
    height: 276;
}