@import "./app.scss";

.nosotros {
	min-height: 100vh;
	display: flex;
	flex-wrap: nowrap;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 4em 0;

	&__h2 {
		font-size: 2.375rem;
		color: var(--azul-2);
		margin-bottom: 2rem;
	}
}

.timeline {
	height: fit-content;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	overflow-x: auto;
	/*background-color: #4bb4a3;*/
	scroll-behavior: smooth;
	/* El scroll behavior produce error en algunos computadores */
	&__container {
		position: relative;
		width: 100%;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}
	&::-webkit-scrollbar {
		display: none;
	}
	&__interval {
		a {
			display: flex;
			flex-direction: column;
			justify-content: flex-start;
			align-items: center;
			text-decoration: none;
			width: 18rem;
			min-height: 35rem;
			margin-left: 4rem;
		}

		a:last-of-type {
			margin-right: 4rem;
		}

		img {
			border-radius: 1rem;
			object-fit: cover;
			object-position: center;
			filter: brightness(0.7);
			z-index: 10;
			transition-duration: 500ms;
		}

		&:nth-child(even) img {
			height: 15rem;
			width: 20rem;
		}

		&:nth-child(odd) img {
			height: 25rem;
			width: 20rem;
		}

		img:hover {
			filter: brightness(1);
			cursor: pointer;
			transform: scale(1.075);
		}

		&:nth-child(even) .timeline__vertical-line {
			height: 9rem;
		}

		&:nth-child(odd) .timeline__vertical-line {
			height: 4rem;
		}

		span {
			color: var(--azul-2);
			filter: opacity(0.9);
			font-size: 2rem;
		}
	}
	&__vertical-line {
		width: 0.2rem;
		background-color: var(--azul-2);
		filter: opacity(0.5);
	}
	&__arrow {
		position: absolute;
		display: table;
		padding: 5% 0;
		height: 100%;
		width: 10%;
		z-index: 15;
		&--right {
			right: 0;
		}
		&--left {
			left: 0;
		}
	}
}

.flex-1 {
	flex: 1 1 0%;
}

.center-arrow {
	display: table-cell;
	vertical-align: middle;
	z-index: 15;
}

@media (max-width: 768px) {
	#left-arrow {
		display: none;
	}
	#right-arrow {
		display: none;
	}
}

/* Layout */

#mosaico {
	background-color: var(--azul-2);
}

.grid-layout {
	display: flex;
	flex-direction: row;
}

@media (max-width: 768px) {
	.grid-layout {
		display: grid;
		grid-template-columns: 30% 70%;
	}
}

.vertical-timeline-layout {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 100%;
}

.vertical-timeline {
	height: 90vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-bottom: 5vh;
}

.vertical-timeline a {
	text-decoration: none;
}

.year-interval {
	color: var(--blanco);
	text-align: center;
	font-size: 2rem;
	transition: all 100ms ease !important;
}

.year-interval:not(.year-interval-icon)::after,
.year-title::after {
	content: "s";
}

.year-interval:not(.year-interval-icon):hover {
	transform: scale(1.04);
	cursor: pointer;
	margin-left: 10%;
}

.year-interval-icon {
	width: 40%;
	margin: 5% auto;
}

/* Mini Cards */

.mini-cards-layout {
	padding: 4%;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 5vh;
	justify-content: space-evenly;
	justify-items: center;
	align-content: space-evenly;
	align-items: center;
}

@media (max-width: 1040px) {
	.mini-cards-layout {
		grid-template-columns: repeat(3, 1fr);
	}
}

@media (max-width: 780px) {
	.mini-cards-layout {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media (max-width: 575px) {
	.mini-cards-layout {
		grid-template-columns: 1fr;
	}
}

/* Tarjetas */

.mini-card {
	width: 220px;
	height: 280px;
	background-color: var(--blanco);
	border-radius: 6%;
	display: flex;
	flex-direction: column;
	align-items: center;
	box-shadow: 0px 22px 50px 10px rgba(0, 0, 0, 0.26);
}

.year-title {
	text-align: center;
	align-self: center;
	color: var(--blanco);
	font-size: 3rem;
	font-weight: 500;
}

.bg-blue {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	color: var(--blanco);
	align-items: center;
	width: 100%;
	height: 85%;
	border-radius: 6% 6% 50% 50% / 6% 6% 5% 5%;
	background-color: var(--azul-1);
}

.img-container {
	position: relative;
	width: 100%;
	height: 85%;
	border-radius: 6% 6% 0 0;
}

.img-container * {
	transition: all 0.4s ease !important;
}

.img-container:hover .glass-hover {
	opacity: 0.6;
}

.img-container a {
	color: var(--blanco);
	text-decoration: none;
}

.img-container p {
	font-size: 3rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: clip;
}

.glass-hover {
	transition: all 0.4s ease !important;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	border-radius: 6% 6% 0 0;
	background-color: var(--azul-2);
	opacity: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.glass-hover i {
	margin-top: 0rem;
}

.glass-hover p {
	margin-top: 0rem;
	font-size: 2rem;
	line-height: 1.5;
}

.member-img {
	object-fit: cover;
	object-position: center;
	border-radius: 6% 6% 0 0;
	height: 100%;
	width: 100%;
}

.member-name {
	color: var(--blanco);
	margin: auto auto;
	font-size: 1.25rem;
}

.insignias {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	height: 15%;
}

.insignias i {
	color: var(--azul-2);
	transform: scale(1.7);
	transition-duration: 0.5s;
}

.insignias i:hover {
	color: #00467b;
	transform: scale(1.8);
	transition-duration: 0.5s;
}

.insignias img:hover {
	color: #00467b;
	transform: scale(1.1);
	transition-duration: 0.5s;
}

.mini-card-medalla {
	height: 90%;
	width: 3.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
}

.mini-card-medalla img {
	cursor: pointer;
	height: 100%;
}
