@charset "UTF-8";
:root {
  /* Tipografías */
  --tipo_principal: "Josefin Sans";
  --tipo_secundaria: "DM Sans";
  /* Colores */
  --azul_1: #302F4A
  --azul_2: #3D3D6A
  --blanco: #FCFAF3
  --hueso: #F7F4E4
  --rojo: #E02020 ;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-family: var(--tipo_principal);
}

p {
  font-family: var(--tipo_secundaria);
}

.container {
  margin: 0 9em;
}

.header {
  height: 100vh;
  background-image: -webkit-gradient(linear, left top, right top, from(#123F72), color-stop(transparent), to(transparent)), url("/assets/img/header.png");
  background-image: linear-gradient(90deg, #123F72, transparent, transparent), url("/assets/img/header.png");
  background-size: cover;
}
.header__nav {
  padding: 1.5em 5em;
  color: white;
}
.header__nav-logo {
  width: 3em;
}
.header__ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__li-a {
  color: var(--blanco);
  text-decoration: none;
  font-family: var(--tipo_principal);
  font-weight: 600;
  font-size: 0.9rem;
}
.header__datos-rama {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__info {
  width: 18.5rem;
  text-align: center;
}
.header__logo {
  margin-bottom: 0em;
}
.header__img {
  width: 6em;
}
.header__name {
  margin: 0;
  color: #FCFAF3;
  margin: 2em 0;
}
.header__h1 {
  font-size: 3.35rem;
  font-weight: lighter;
  color: #FCFAF3;
}
.header__p {
  text-align: justify;
  color: #FCFAF3;
  margin-bottom: 1.5em;
  font-style: italic;
}
.header__unete :hover {
  background-color: white;
  color: #123f72;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
.header__button {
  background-color: #123f72;
  padding: 1em 2em;
  font-size: 1.2rem;
  border-radius: 1.8em;
  color: #FCFAF3;
  cursor: pointer;
  border: none;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;
}
.header__rrss {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.header__a :hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}
.header__i {
  color: white;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.header__li-rs {
  margin: 1.5em 0;
}
.header__ul-rrss {
  list-style: none;
}