*,
::after,
::before {
	box-sizing: border-box;
}
/* Reseteamos los margin y paddings de todas las etiquetas */
* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* Configuramos anclas suaves */
html {
	scroll-behavior: smooth;
}
/* Reseteamos los enlaces para funcionar como cajas... */
a {
	display: block;
	text-decoration: none;
	color: inherit;
	font-size: inherit;
}
/* ... excepto los que se encuentran en párrafos */
p a {
	display: inline;
}

/* Quitamos los puntos de los <li> */
li {
	list-style: none;
	list-style-type: none;
}
/* Nivelamos problemas de tipografías y colocación de formularios */
form,
input,
textarea,
select,
button,
label {
	font-family: inherit;
	font-size: inherit;
	hyphens: auto;
	background-color: transparent;
	display: block;
	/* opcional */
	appearance: none;
}
[role="button"]:focus,
[role="button"]:not([aria-disabled="true"]):hover,
button:enabled:hover,
button:focus,
input[type="button"]:enabled:hover,
input[type="button"]:focus,
input[type="reset"]:enabled:hover,
input[type="reset"]:focus,
input[type="submit"]:enabled:hover,
input[type="submit"]:focus,
label[type="button"]:focus,
label[type="button"]:hover {
	filter: brightness(1.4);
	cursor: pointer;
}
/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
	max-width: 100%;
	width: 100%;
	display: block;
	/* opcional */
	object-fit: cover;
	/* opcional */
	object-position: center center;
}
/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
	font-size: 1em;
	font-weight: inherit;
	font-style: inherit;
	text-decoration: none;
	color: inherit;
}
/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}
/* Configuramos el texto que seleccionamos */
::selection {
	background-color: var(--rojo);
	color: var(--blanco);
}
/* Reseteamos las tablas */
table,
tr,
td {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Evitamos problemas con los SVG */
svg {
	width: 100%;
	display: block;
	fill: currentColor;
}
